* {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Exo 2', sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: #352145;
}
.column {
    text-align: left; 
    vertical-align: middle;
    margin: auto 0;
}
.column a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.menu{
    margin: auto 0;
    list-style: none;
    display: flex;
    height: 2rem;
}
.menu a{
    text-decoration: none;
    color: White;
    margin-left: 30px;
    font-size: 1.2rem;
    display: block;
}
.menu a:hover{
    color: #f86942;
    transform: translateX(0px);
    transition: 0.2s linear;
    text-shadow: 1px 1px 2px black, 0 0 1em #352145;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);

}
.column img{
    width: 80px;
}
.menu li{
    text-decoration: none;
    vertical-align: middle;
}
.wrapper{
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 2px dotted red;
}

h2,h3,h1{
    text-align: center;  
}
.description{
    padding-bottom: 30px;
}
.description table{
    margin: auto;
}
.description img{
    width: 100%;
}
.description ol{
    padding-left: 50px;
}
.features{
    padding-top: 50px;
}
.features-wrapper{
    display: inline-flex;
    padding-top: 50px;
}
.row{
    padding-left: 10px;
    border: 1px dotted green;
}
.tariff{
    display: flex;
    justify-content: center;
}
.tariftable img{
width: 20px;
height: 20px;
}
